{
  "presets": ["es2015","stage-0"],
  "plugins": ["transform-object-rest-spread", [
            "component",
            {
                "libraryName": "weex-droplet-ui",
                "libDir": "packages",
                "style": false
            },
            {
            "libraryName": "weex-amui",
            "libDir": "packages",
            "style": false
            }
        ]]
}
